<form action="/post/create" method="post">
    <input type = "text" name = "usertitle"> 
    <input type = "text" name = "usercontent">
    <input type = "submit" value = "제출">
</form>
<br><hr>

<% @posts.each do |x| %>
    제목 : <%= x.title %><br>
    내용 : <%= x.content %><br><hr>
<%end%>

    